body {
    font-family: 'Quicksand', sans-serif;
    color: rgb(0, 0, 0);
    background: linear-gradient(#e66465, #9198e5);
    height: 100vh;
    margin: 0px;
    padding: 0px;
    font-size: 20px;
}

.logo-wrapper {
    width: 100vw;
    height: 8vh;
    text-align: center;
    background-color: rgb(68, 109, 155);
    padding-top: 20px;
}

i:active {
    transform: rotate(90deg);
    transition:  0.2s;
}

i::after {
    transition: 0.2s;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding-left: 0px;
    clear: both;
}

.nav-bar {
    float: left;
    margin: 0 auto;
    width: 25vw;
    text-align: center;
    background-color: rgb(47, 75, 107);
    padding: 5px 0px 0px 0px;
    border-width: 1px 0px 0px 0px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
}

.nav-bar:hover {
    background-color: rgb(34, 56, 80);
}

a, .material-icons {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.child-nav-li {
    padding: 10px 10px 10px 50px;
    text-align: left;
    border-width: 1px 0px 0px 0px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
}

a:hover {
    color: rgb(255, 0, 115);
    text-decoration: underline;
  }
   
a:active {
    color: rgb(55, 0, 255);
    text-decoration: underline;
  }

#menuLinks, #otherLinks, #searchBar, #submenu-nav-li {
    display: none;
    overflow: auto;
    width: 100vw;
    background-color: rgb(34, 56, 80);
    position: relative;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
}

.search-bar-input {
    width: 80%;
    font-family: 'Quicksand', sans-serif;
    margin: 10px 0px 10px 15px;
    height: 27px;
}

.search-bar-button {
}

.search-bar input[type=text] {
    font-family: 'Quicksand', sans-serif;
    color: rgba(0, 0, 0, 0.1);
    padding: 6px;
    border: none;
    font-size: 20px;
    margin-left: 10px;
}